<div class="video-panel">
  <a href="https://leggetter.github.io/realtime-symfony/" class="video-panel__link">
    <div class="video-panel__image" style="background-image: url(http://lorempixel.com/400/200/);">
      <div class="video-panel__title-row">
        <h3 class="video-panel__title">Real-time Web Apps &amp; Symfony. What are your options? (slides)</h3>
      </div>
    </div>
  </a>
  <div class="video-panel__information">
    <span class="video-panel__author">Phil Leggetter</span>
      <span class="video-panel__extra">Video coming soon</span>
    </div>
  </div>
</div>