<select class="form__select">
  <option selected disabled>Select your plan</option>
  <option value="bootstrap">Bootstrap</option>
  <option value="startup">Startup</option>
  <option value="business">Business</option>
  <option value="premium">Premium</option>
</select>