<h1 class="vault__super"><%= @type.titleize %></h1>
<% Dir["app/views/#{@type}/**/*.html.erb"].each do |file| %>
  <div class="vault">
    <div class="vault__title">
      <h1><%= File.basename(file, ".html.erb").titleize %></h1>
      <% file_path =  File.expand_path(file, "/") %>
      <% file_path.slice! ".html.erb" %>
      <% file_path.slice! "/app/views" %>
      <% file_path.slice! "_" %>
      <a href="<%= render :text => file_path %>/" class="vault__btn">Isolate</a>
    </div>
    <div class="vault__content">
      <%= render :file => Rails.root.join(file).to_s %>
    </div>
  </div>
<% end %>
